<div class="tabular settings">
	<p>
		<label><%= l(:label_default_code_view)%></label> 
		<%= select_tag("settings[default_code_view]", options_for_select([['View', 'entry'], ['History', 'changes'], ['Annotate', 'annotate'] ], @settings['default_code_view'])) %>
		<br />
	</p>
</div>
